extends layout

block content

  div.container
    nav(class="navbar navbar-default" role="navigation")
      ul(class="nav navbar-nav")
        li.active 
          a Home
        li
          a(href='/logout') Log out
        form(class="navbar-form navbar-left" role="search")
          div(class="form-group")    
            input(type="text" class="form-control" placeholder="Search")
          button(type="submit" class="btn btn-default") Search
    div.row
    div.col-md-8      
      h1 Welcome 
        =user.name
      hr
      div.newfeed
        - each review in reviews
          div.news
            h2
              span(class="label label-primary tab") R
            p.lead= review.description
            p On 
              = review.DateTime
              a(href='notes/#{review.actionRef}')  Check it out!
        - each list in lists
          div.news
            h2
              span(class="label label-success tab") L 
            p.lead= list.description
            p On 
              = list.DateTime
              a(href='lists/#{list.actionRef}')  Check it out!
        - each request in requests
          div.news
            h2
              span(class="label label-danger tab") Rq 
            p.lead= request.description
            p On 
              = request.DateTime
              a(href='lists/#{request.actionRef}')  Check it out!
        - each note in notes
          div.news
            h2
              span(class="label label-info tab") N
            p.lead= note.description
            p On 
              = note.DateTime
    div.col-md-4
      div.main-nav
          h1
            a(class="btn btn-default btn-lg" href="/notes") Notes
          h1
            a(class="btn btn-default btn-lg" href='/lists') Book Lists
          h1
            a(class="btn btn-default btn-lg" href='/reviews') Book Reviews
          h1
            a(class="btn btn-default btn-lg" href='/profile/#{user.username}') Profile
          h1
            a(class="btn btn-default btn-lg" href='/messages') Messages
