extends layout

block content

  div.container
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      ul(class="nav navbar-nav")
        li.active 
          a Home
        li
          a(href='/about') About
        li
          a(href='/logout') Log out
        li
          a(href='/following') Friends
        form(class="navbar-form navbar-left" method="post" action='/search' role="search")
          div(class="form-group")    
            input(type="text" class="form-control" name = 'query' placeholder="Search")
          button(type="submit" class="btn btn-default") Search
    div.row
    div.col-md-8  
      hgroup    
        h1.center-text Welcome 
          =user.name
          a(class="btn btn-default btn-lg" href='/profile/#{user.username}' style="float:right;") Profile
      hr
      div.newfeed
        - if(actionList.length === 0)
          p.lead= empty.message
          ol
            li=empty.one
            li=empty.two
            li=empty.three
        - each action in actionList
          - if(action.category === 'review')
            div.news
              h2
                span(class="label label-primary tab") R
              p= action.description
              p On 
                = action.DateTime
                a(href='reviews/#{action.actionRef}')  Check it out
              hr
          - if(action.category === 'list')
            div.news
              h2
                span(class="label label-warning tab") L 
              p= action.description
              p On 
                = action.DateTime
                a(href='lists/#{action.actionRef}')  Take a look
              hr
          - if(action.category === 'request')
            div.news
              h2
                span(class="label label-danger tab") Rq 
              p= action.description
              p On 
                = action.DateTime
                a(href='requests/#{action.actionRef}')  Lend a hand
              hr
          - if(action.category === 'note')
            div.news
              h2
                span(class="label label-info tab") N
              p= action.description
              p On 
                = action.DateTime
                a(href='notes/#{action.actionRef}')  See whats up
              hr
          - if(action.category === 'follow')
            div.news
              h2
                span(class='label label-success tab') F
              p= action.description
              p On
                = action.DateTime
                a(href='profile/#{action.whodunnit}')  Follow them back
    div.col-md-4
      div.spacer
      div.main-nav
          h1
            a(class="btn btn-default btn-lg" href="/notes") Notes
          h1
            a(class="btn btn-default btn-lg" href='/lists') Book Lists
          h1
            a(class="btn btn-default btn-lg" href='/reviews') Book Reviews

          h1
            a(class="btn btn-default btn-lg" href='/messages') Messages
            - if(messages > 0)
              span(class="badge" style="margin-left:8px;")= messages
          h1
            a(class="btn btn-default btn-lg" href='/requests') Requests
