extends layout

block content

  div.container
    nav(class="navbar navbar-default" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
        li
          a(href='/logout') Log out
    div.row
      div.col-md-6
        h2 Message from 
          = message.sender
          form(method="post" action="/compose" style="float:right;")
            input(type="hidden" name="sendto" value="#{message.sender}")
            input(type="submit" class="btn btn-default" value="Reply")
        hr
        h3.lead Title: 
          = message.title
        p= message.content
      div.col-md-6
        h2 Your Messages
        hr
        - each other in others
          div.row
            div(style='float:left')
              p <strong>Title:</strong> #{message.title}
              p <strong>From:</strong> #{message.sender}
            div(style='float:right')
              a(href='/messages/#{message._id}' class='btn btn-success') View
              a.padleft(href='/messages/delete/#{message._id}' class='btn btn-danger') Delete
          hr.closeline