extends layout

block content

  div.container
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
        li
          a(href='/logout') Log out
    h1.PT(style="text-align:center;")= Member.name
      's profile
    hr
    div.spacer
    div.row
      div.col-md-4
        h2.PT About me:
        p.PT= Member.bio
        - if(Member.username !== user.username)
          form(method='post' action='/follow')
            input(type='hidden' value='#{Member.username}' name='member')
            input(type='submit' class="btn btn-success lm" value='follow')
        - if(Member.genres.length > 0)
          h2.PT Interests:
          ul
            - each genre in Member.genres
              li= genre
        - if(!(Member.authors.length === 1 && Member.authors[0] === ""))
          h2.PT Favorite authors:
          ul
            - each author in Member.authors
              li= author
      div.col-md-4
        div.profile-box
          h2 
            span(class="label label-warning pull-left") L
          p(class='lead text-center') Lists
          ul
            - each list in lists
              li.lm
                a(href="/lists/#{list._id}")= list.name
        hr.closeline
        div.profile-box
          h2 
            span(class="label label-success pull-left") R
          p(class='lead text-center') Reviews
          ul
            - each review in reviews
              li.lm
                a(href="/reviews/#{review._id}")= review.title
        hr.closeline
      div.col-md-4
        div.profile-box
          h2 
            span(class="label label-info pull-left") N
          p(class='lead text-center') Notes
          ul
            - each note in notes
              li.lm
                a(href="/notes/#{note._id}")= note.name
        hr.closeline
        div.profile-box
          h2 
            span(class="label label-danger pull-left") Rq
          p(class='lead text-center') Requests
          ul
            - each quest in quests
              li.lm
                a(href="/requests/#{quest._id}")= quest.name
        hr.closeline

        