extends layout

block content

  div.container
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
        li
          a(href='/logout') Log out
    div.row
      form(method='post' action='/follow' class='pull-right')
        input(type='hidden' value='#{Member.username}' name='member')
        input(type='submit' class="btn btn-success lm" value='follow')
      h1(style="text-align:center;")= Member.name
        's profile
      hr
      h2 About me:
      p= Member.Bio
      hr
    div.row
      div.col-md-4
        h2 
          span(class="label label-default") Lists
          hr
          - each list in lists
            a(href="/lists/#{list._id}")= list.name
      div.col-md-4
        h2
          span(class="label label-default") Notes
          hr
          - each note in notes
            a(href="/notes/#{note._id}")= note.name
      div.col-md-4
        h2 
          span(class="label label-default") Reviews
          hr
          - each review in reviews
            a(href="/reviews/#{review._id}")= review.title
        