extends layout

block content

  div.container
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      ul(class="nav navbar-nav")
        li 
          a(href='/main') Home
        li
          a(href='/logout') Log out
    h1(style="text-align:center;")= Member.name
      's profile
    hr
    div.spacer
    div.row
      div.col-md-4
        h2 About me:
        p= Member.bio
        - if(Member.username !== user.username)
          form(method='post' action='/follow')
            input(type='hidden' value='#{Member.username}' name='member')
            input(type='submit' class="btn btn-success lm" value='follow')
      div.col-md-4
        h2 
          span(class="label label-warning") L
        div.spacer
        p.lead Lists
        hr
        ul
          - each list in lists
            li.lm
              span(class="label label-warning") L
              a(href="/lists/#{list._id}")= list.name
        h2 
          span(class="label label-success") R
        div.spacer
        p.lead Reviews
        hr
        ul
          - each review in reviews
            li.lm
              span(class="label label-success") R
              a(href="/reviews/#{review._id}")= review.title
      div.col-md-4
        h2 
          span(class="label label-info") N
        div.spacer
        p.lead Notes
        hr
        ul
          - each note in notes
            li.lm
              span(class="label label-info") N
              a(href="/notes/#{note._id}")= note.name
        h2 
          span(class="label label-danger") Rq
        div.spacer
        p.lead Requests
        hr
        ul
          - each quest in quests
            li.lm
              span(class="label label-danger") Rq
              a(href="/requests/#{quest._id}")= quest.name

        